@using MultasTransito.Controllers;
@using MultasTransito.Models;
@using MultasTransito.Data;
@model IEnumerable<MultasTransito.Models.Municipios>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title>@ViewData["Amilcar Bot"] - Amilcar Bot</title>
</head>
<body>    
    <form method="post">
        <h2>Elije la municipalidad a consultar</h2>
        @for (var i = 0; i < @ViewBag.NombreMunisLenght; i++)
        {
            <input name="Index" id="checks" type="checkbox" value="@i" /> <strong>@ViewBag.NombreMunis[i]</strong> <br />
        }
        <div>
            <button type="button" class="btn btn-primary"><strong>Validar</strong></button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-3 form-horizontal">
            <form action="/Home/Index" method="post">
                <br />
                <input type="text" class="form-control" name="ingreseNit" placeholder="Ingrese Nit" required autofocus>
                <br />
                <input type="text" class="form-control" name="tipoPlaca" placeholder="Tipo de placa" required autofocus>
                <br />
                <input type="number" class="form-control" name="numeroPlaca" placeholder="Número de placa" required autofocus>
                <br />
                <button class="btn btn-success btn-lg btn-block" type="submit">
                    <strong>Consultar</strong>
                </button>
            </form>
        </div>
        <script src="~/lib/jquery/dist/jquery.js/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                function contains(text_one, text_twoo) {
                    return text_one.toLowerCase().indexOf(text_twoo.toLowerCase()) != -1;
                }
                $("#Search").keyup(function () {
                    var searchText = $(this).val();
                    $("#Search").each(function () {
                        this.toggle(contains($(this).text(), searchText));
                    });
                });
            });
        </script>
</body>
</html>
