@using MultasTransito.Controllers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Amilcar Bot"] - Amilcar Bot</title>    
</head>
<body>
    <div>
        <img src="@Url.Content("IMG/BDG.png")" />

        <!--<a href="@Url.Action("Munis", new { searchText = "txtMunis" })">
        <img alt="BDG" style=" " height="17" src="IMG/BDG.png"/></a> -->

    </div>
    <form method="post">
        <div>
            @ViewBag.Lista
        </div>
        <div>
            <h1>Elige la municipalidad a consultar</h1>
            <select name="Munis">
                <option selected value="0">  --Selección--  </option>
                <optgroup label="Municipalidades">
                    <option value="1">Guatemala</option>
                    <option value="2">Mixco</option>
                    <option value="3">Villa Nueva</option>
                    <option value="4">San José Pinula</option>
                    <option value="5">Fraijanes</option>
                </optgroup>
            </select>
        </div>
    </form>
</body>
</html>
