<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Amilcar Bot"] - Amilcar Bot</title>    
</head>
<body>
    <picture>
        <img src="IMG\BDG.png" />
        <source media="(min-width: 600px)">
        <source media="(min-width: 300px) and (max-width: 600px)"
                srcset="html5-logo-large.png">
        <source media="(max-width: 50px)">        
    </picture>    
    <select name="Munis">
        <option selected value="0"> Elige una opción </option>
        <optgroup label="Municipalidades">
            <option value="1">Guatemala</option>
            <option value="2">Mixco</option>
            <option value="3">Villa Nueva</option>
            <option value="4">San José Pinula</option>
            <option value="5">Fraijanes</option>
        </optgroup>
    </select>
</body>
</html>