/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav li:hover {
    background-color: red;
}

.navbar-nav li.active {
    background-color: red !important;
}

    .navbar-nav li.active a {
        background-color: rgba(0,0,0,0) !important;        
    }

    .footer-copyright {
        background: black;
        width: auto;
    }

.page-footer {
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    border: black 2px solid;
    padding-top: 1px;
    background-color: rgb(192,192,192);
    font-weight: bold;
}

tbody {
    border: black 2px solid;
    border-collapse: separate;
}

.thead-dark {
    border: black 2px solid;
    height: 20px;
}

.btn:hover {
    border: 2px solid #0099CC;
    border-radius: 6px;
    background-color: #008CBA;
    color: white;
}

col {
    border: 2px black solid;
}

.logo {
    width: 600px;
    height: 150px;
    padding-top: 0px;
}

#logo-footer {
    float: left;
    height: 40px;
    width: 125px;
    padding-left: 25px;
}

.amilcar-bot {
    width: 400px;
    height: 500px;
    padding-top: 20px;
    float: right;
    padding-bottom: 25px;
    padding-right: 10px;
}

.Logo {
    width: auto;
    height: 120px;
    padding-top: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
